@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/alfa-slab-one';
body{
    background-color: #191919;
}
:root {
    --bg-color: #d1d1d1;
}
.dark {
    --bg-color: #191919;
}
body {
    background-color: var(--bg-color);
}
.TextNavColor{
    font-family: "Alfa Slab One";
    font-size: 18px;
}
.LoginCard{
    margin: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.RegisterCard{
    margin: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.EditProfileCard{
    margin: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.FontNombreDeUsuario{
    font-size: 17px;
    font-family: "Alfa Slab One";
}
.FontPais{
    font-size: 16px;
    font-family: "Alfa Slab One";
}
.FontComentario{
    font-weight: 600;
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
}
.UserCard{
    border: rgba(88, 88, 88, 0.419);
    border-style: solid;
    border-radius: 18px;
}
.UserCard:hover{
    background-color: #567219e0;
    box-shadow: 0 10px 15px #818181;
    transition: 1s;
}
.UserCard:hover .CardHoverText{
    color: #e4e4e4;
    transition: ease-in-out;
}
.Card{
    margin-top: 8%;
    display: flex;
    justify-content:center;
    justify-items: center;
}
.CardStyle{
    width: 50%;
    height: 50%;
    border: #ededed62;
    border-radius: 35px;
    border-style: double;
    background-color: #7ea035a5;
}
.CardStyle:hover{
    background-color: #7ea035;
    box-shadow: 0 10px 15px #d2d2d2;
    transition: 1.5s;
}
.TitleVerso{
    margin-top: 7%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family:  "Alfa Slab One";
    color: #ffffff;
}
.ContentVerso{
    margin: 8%;
}
.TextVerso{
    color: #d9ff00;
    font-weight: 900;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
.CardStyle:hover .HoverAcout{
    color: #fae4b3;
    transition: 1s;
}
.BotonStyle{
    background-color: #caee00b8;
    box-shadow: 0 10px 15px #cbee00;
    transition: 1.5s;
}
.TOPCRUD{
    height: 70px;
    border-radius: 20px;
    background-color: #caee00b8;
    box-shadow: 0 15px 18px #cbee00;
    transition: 1.5s;
}
.input-group {
    margin: 25px;
    position: relative;
}
.input {
    width: 350px;
    height: 50px;
    margin-left: 30px;
    text-align: center;
    border: solid 1.5px #000000;
    border-radius: 1rem;
    background: none;
    font-size: 1rem;
    font-weight: 900;
    font-family: monospace;
    color: #717715;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
.input:focus, .input:valid {
    outline: none;
}
.input:focus{
    background-color: #191919;
}
.input:focus ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #caee00bc;
}