@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource-variable/oswald';
/* https://coolors.co/5500ff-cbee00-2a2e2e-191919-c0c0c0-ffffff paleta de colores */

/*estilo de body>#191919* estilo de text>#cbee00 */
body{
    background-color: #191919; 
}

.Color{ 
    background-color: #636363a8;
}
.TextNavColor{
    color: #cbee00;
    /* border:#cbee00; */
}
.LoginCard{
    margin: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.RegisterCard{
    margin: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.EditProfileCard{
    margin: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.FontNombreDeUsuario{
    font-size: 22px;
    font-family: 'Oswald Variable', sans-serif
}
.FontPais{
    font-size: 14px;
    font-family: 'Oswald Variable', sans-serif
}
.FontComentario{
    font-family: 'Oswald Variable', sans-serif;
}